.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  display: inline;
  border-bottom: goldenrod solid 3px;
}
.left,
.right {
  height: 100%;
  width: 50%;
  margin: 50px;
  padding: 10px;
}
input {
  width: 40%;
  padding: 10px;
  margin: 10px;
}
img {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}
button{
  display: block;
  background-color: #565950;
  color:goldenrod;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 7px;
  width: 20%;
  cursor: pointer;
}
footer {
  background-color:#565950;
  color:white;
  font-size:130%;
  font-style: bold;
  text-align: center;
  padding: 50px;
  margin: 0% 0%;
}

